<h4>Create a new category</h4>
<%= form_for @category do |f| %>
  <%= render 'shared/errors', :object => @category %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.submit 'Create category', class: 'btn' %>
<% end %>

<%= link_to 'Back', root_path %>